body {
    color: #fff;
    background: #0f172a;
    margin-top: 60px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0f172a;
    color: #bbb;
    text-align: center;
    padding: 15px 0;
    z-index: 999;
}

.header-title {
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 30px auto;
    padding: 8px;
    text-align: center;
}

.typing {
    margin-top: 30px;
    font-size: 1.6rem;
    font-weight: bold;
}

.cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

.desc {
    margin: 20px auto;
    font-size: 1rem;
}

.desc-footer {
    color: #bbb;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 20px;
}
.btn-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    width: 100%;
    max-width: 500px;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #e5e7eb;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    transform: scale(1.05);
}

.btn.outline {
    background: transparent;
    border: 2px solid #e5e7eb;
    color: #fff;
}
